x-network:
  links:
    - {service: balancer,    bridge: ctrl, dev: s0,   ip: 10.0.1.2/16,
       forward: ["8000:80/tcp"]}
    - {service: message-bus, bridge: ctrl, dev: eth0, ip: 10.0.1.4/16}

x-extra-hosts: &extra-hosts
  - message-bus:   "10.0.1.4"

services:
  conlink:
    ports:
      - 8000:8000/tcp

  balancer:
    build: {context: ./balancer/}
    network_mode: none
    extra_hosts: { <<: *extra-hosts }
    volumes:
      - ./conlink/scripts:/scripts:ro
    entrypoint: /scripts/wait.sh -t message-bus:4222 -- /monitor.sh

  message-bus:
    build: {context: ./message-bus/}
    network_mode: none
    extra_hosts: { <<: *extra-hosts }
    command: /init.sh
