[submodule "dhcp-server/clj-protocol"]
	path = dhcp-server/clj-protocol
	url = https://github.com/lonocloud/clj-protocol
[submodule "conlink"]
	path = conlink
	url = https://github.com/lonocloud/conlink
[submodule "dcmon"]
	path = dcmon
	url = git@github.com:lonocloud/dcmon
[submodule "docs/presentations/reveal.js-submodule"]
	path = docs/presentations/reveal.js-submodule
	url = git@github.com:hakimel/reveal.js
