[submodule "dhcp-server/clj-protocol"]
	path = dhcp-server/clj-protocol
	url = https://github.com/lonocloud/clj-protocol
[submodule "conlink"]
	path = conlink
	url = https://github.com/lonocloud/conlink
