services:
  prometheus:
    image: prom/prometheus
    #ports:
    #  - "9090:9090"
    network_mode: host
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  bbexporter:
    image: prom/blackbox-exporter
    #ports:
    #  - "9115:9115"
    network_mode: host

  grafana:
    image: grafana/grafana
    #ports:
    #  - "3000:3000"
    network_mode: host
    volumes:
      - ./grafana:/etc/grafana/
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: password
      GF_AUTH_ANONYMOUS_ENABLED: true
