{
 :if-name "ext0"
 :pg-opts {:host "db"
           :port 5432
           :database "demo"
           :user "postgres"
           :password "demo"}
 :pg-table "dhcp_pool"
 :dhcp-cfg {:start "10.1.0.100"
            :end "10.1.0.200"
            :netmask "255.255.0.0"
            :gateway nil}

 :nats-cfg {:server "message-bus:4222"
            :subject "dhcp"
            :target-port 8000}
}
