#header-left, #header-right, #footer-left, #footer-right {
  position: absolute;
  font-size: 50%;
  margin: 10px;
}

#header-left {
  top: 0%;
  left: 0%;
  text-align: left;
}
#header-right {
  top: 0%;
  right: 0%;
  text-align: right;
}
#footer-left {
  bottom: 0%;
  left: 0%;
  text-align: left;
}
#footer-right {
  bottom: 0%;
  right: 0%;
  text-align: left;
  width: 33%;
}
